[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "icosa"]
	path = icosa
	url = https://github.com/adamkocsis/icosa
[submodule "rgplates"]
	path = rgplates
	url = https://github.com/adamkocsis/rgplates
[submodule "via"]
	path = via
	url = https://github.com/adamkocsis/via
